@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;900&family=Cormorant:wght@300&family=Noto+Sans+Mono:wght@300&family=Poppins:wght@400;700&family=Quicksand:wght@300;500&family=Raleway:wght@200;400;500;600&family=Roboto:wght@300;400&family=Spectral:ital,wght@1,200&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
    --primary-text-color: black;
    --secondary-text-color: #fdbc68;
    --third-text-color: grey;
    --accent-color: #A6BEAE;
    --accent-dark-color: #D6AEAE;
    --padding-inline-section: 20px;
}


body{
    font-family: 'quicksand',sans-serif;
    color: var(--primary-text-color);
}


p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--third-text-color);
    line-height: 1.4rem;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.flex{
    display: flex;
    align-items: center;
}

.container{
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
}
.log{
    width: 100%;
	transform-origin: 50% 50%;
	transition: 10s;
	box-shadow: 0.4 0.4 0.4 black;
	-webkit-filter: drop-shadow(5px 5px 5px #666666);
	filter: drop-shadow(5px 5px 5px #666666);
	animation-name: circles;
	animation-duration: 10s;
    animation-delay: 10s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;

}
.main-nav{
    justify-content: space-between;
    padding: 8px;
    background: rgba( 255, 255, 255, 0.45 );
backdrop-filter: blur( 7px );
-webkit-backdrop-filter: blur( 7px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.main-nav img{
    width: 100px;
    height: 100px;
}

.nav-links ul{
  gap: 60px;
}

nav{
    position: fixed;
    left: 0;
    right: 0;
    height: 50px;
    top: 0;
    z-index: 99;

}
.hover-link{
    cursor: pointer;
  
}
.hover-link:hover{
    color: var(--secondary-text-color);
    cursor: pointer;
    transition: 0.2s ease-in-out;
 
}
.hover-link.active{
    color: bisque;
}
.search-bar{
    height: 32px;
    gap: 10px;
    font-family: 'quicksand';
}

.news-input{
    width: 200px;
    height: 100%;
    padding-block: 12px;
    border-radius: 4px;
    border-bottom: 1px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0px;
    background-color: transparent;
    outline: none;
}

.search-button{
    border: 0.5px solid grey;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    margin-left: 14px;
    transition: 0.2s ease-in-out;
}

.search-button:hover{
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    margin-left: 14px;
    cursor: pointer;
    
}

/* @keyframes circles {
    0%{
        transform: rotate(45%);
    }
    25%{
        transform: rotate(90%);
    }
    50%{
        transform: rotate(270%);
    }
    100%{
        transform: rotate(360%);
    }
} */

@keyframes circles {
	100%{
		transform: rotate(360deg);
	}
}


main{
    padding-block: 20px;
    margin-top: 150px;
}


.cards-container{
    justify-content:space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
    padding: 10px;
}
.card{
    width: 360px;
    min-height: 400px;
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    /* box-shadow: 0 0 2px #010202;
    border-radius: 4px; */
    cursor: pointer;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
    max-height: 400px;
}

.card:hover{
     box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
     transform: translateY(-2px);
}
.card-header img{
    width: 100%;
    height: 180px;
    background-position: top;
}

.card-header img{
    width: 100%;
    height: 180px;
    background-position: bottom;
}
.card-content{
    padding: 12px;
    line-height: 1.5rem;
}

.new-source{
    margin-block: 12px ;
}


